body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkkhaki;
}

a{
    text-decoration: none;
}

.header{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(251, 251, 251);
}

.img{
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.h3{
    font-size: 1rem;
}

.ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li{
    position: relative;
}

.nav a{
    padding: 10px 15px;
    display: block;
    color: black;
}

.nav a:hover{
    color: #555;
}